

@media screen and (max-width: 600px) {
    header{
        max-width: 100%;
        height: 45vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)) ,url('../img/headerCapa.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }
}


/* navbar */

@media screen and (max-width: 600px) {


    /* menu hamburguer */
    header #nav-left {
        justify-content: space-between;
    }

    #nav-left #logo {
        margin-left: 3rem;
    }

    header #nav-left ul#menu-icon {
        display: flex;
    }

    /* menu */

    header #nav-right {
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background: linear-gradient(rgba(4, 157, 217) 0%, rgba(54, 176, 224) 45%, rgba(60, 179, 113, 0.9) 100%);
        padding-top: .4rem;

        position: absolute;
        top: 3rem;
        right: 0;
        z-index: 999;
        /* display: none; */
    }


    header #nav-left ul#nav-right li {
        margin: .5rem;
        margin-left: 1rem;
    }

    header #nav-left ul#nav-right li a{
        font-size: 120%;
    }
}