

@media screen and (max-width: 600px) {
    header{
        max-width: 100%;
        height: 45vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)) ,url('../img/headerCapa.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    header #nav-left {
    max-width: 100%;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #00000000;
    }

    header #nav-left:hover {
    transition: 500ms;
    background-color: #59353200;

    } 

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight:200;
        font-size: max(15px, 1.8vw);
    }

    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-weight:200;
        font-size: max(15px, 1.8vw);
    }

    /* button  */

    .header-title a {
        font-size: max(25px, 2.8vw);
        font-family: "Lexend", sans-serif;
        color: #fff;
        text-decoration: none;
        padding: 20px 80px;
        border-radius: 20px;
        font-weight: 600;
        background: linear-gradient(rgba(115, 48, 73));
        display: inline-block;
    }

    .header-title h1 {
        color: #BF95A5;
        font-size: 50px;
        text-shadow: 3px 3px 10px #000;
        margin-top: 50px;
    }

    .header-title h2 {
    color: #f8f5eb;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size:30px;
    letter-spacing: 1px;
    }
}


/* navbar */

@media screen and (max-width: 600px) {


    /* menu hamburguer */
    header #nav-left {
        justify-content: space-between;
    }

    #nav-left #logo {
        margin-left: 3rem;
        width: 60px;
        height: 60px;
    }

    header #nav-left ul#menu-icon {
        display: flex;
    }
    header #nav-left ul#menu-icon{
        display: flex;
    }

    header #nav-left ul#menu-icon li#menuX{
        display: none;
    }

    /* menu */

    header #nav-left ul#nav-right {
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background: linear-gradient(rgba(4, 157, 217) 0%, rgba(54, 176, 224) 45%, rgba(60, 179, 113, 0.9) 100%);
        padding-top: .7rem;

        position: absolute;
        top: 5.5rem;
        right: 0;
        z-index: 999;
        display: none;
    }


    header #nav-left ul#nav-right li {
        margin: .5rem;
        margin-left: 1rem;
    }

    header #nav-left ul#nav-right li a{
        font-size: 120%;
    }

}

@media screen and (max-width: 600px) {

        /* main */

    .about {
        max-width: 100%;

        margin-bottom: 50px;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction:column;
        gap: 50px;
    }

    .know-more h2 {
        font-size: 40px;
    }
    .makeart-container h2 {
        font-size: 40px;
    }
}