/*
font-family: "Quicksand", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: "Lexend", sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* font structures */

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight:500;
    font-size: max(20px, 2.8vw);
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight:500;
    font-size: max(20px, 2.8vw);
}

/* button  */

.header-title a {
    font-size: max(16px, 1.8vw);
    font-family: "Lexend", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #BF5E8B;
    display: inline-block;
}

/* header */


header{
    max-width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)) ,url('../img/headerCapa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

header #nav-left {
    max-width: 100%;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    transition: 300ms ease-out;
}

header #nav-left:hover {
    transition: 500ms;
    background-color: #83828234;

} 

header #logo {
    width: 75px;
    height: 75px;
    margin-left: 10rem;
}

header #logo img{
    width: 100%;
    height: 100%;
    
}

/* menu */

header ul#menu-icon  {
    display: none;
}

header ul#menu-icon li {
    list-style: none;
}

header ul#menu-icon li ion-icon {
    font-size: 30px;
    color: #fff;
    margin-right: 2rem;
}

/* nav-right */

header #nav-right {
    margin-left: 18rem;
    display: flex;
    flex-flow: row wrap;
}

#nav-right li {
    list-style: none;
    margin-right: 2rem;
}

#nav-right a {
    text-decoration: none;
    color:#dddddd;
    font-size: 100%;
    /* em duvida sobre o uso de text shadow*/
    text-shadow: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    transition: .3s ease-out;
}

#nav-right a:hover {
    border-bottom: 1px solid #fff;
    opacity: .6;
}

/* titulo header */

.header-title {
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title h1 {
    color: #fff;
    font-size: 70px;
}

.header-title h2 {
    color: #D9C589;
    margin-bottom: 55px;
    font-size:40px;
    letter-spacing: 1px;
}